/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-selection-list {
  max-height: 160px;
  overflow: auto;
}

.tm-container {
  padding: 16px;
  margin: 16px 0 16px 0;

}

@media (max-width: 600px) {
  .tm-container {
     padding: 16px;
     width: 100%;
     margin: 16px 0 16px 0;
 
   }
  }   
