<app-header></app-header>

<div 
data-cy-id="vehicle-filter"
class="tm-sticky" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start"
    *ngIf="loading">

    <div class="tm-container" fxFlex="30%" fxFlex.xs="100%" [class.mat-elevation-z2]="!isActive"
        [class.mat-elevation-z8]="isActive">
        <app-types></app-types>
    </div>
    <div class="tm-container" fxFlex="30%" fxFlex.xs="100%" [class.mat-elevation-z2]="!isActive"
        [class.mat-elevation-z8]="isActive">
        <app-brands></app-brands>
    </div>
    <div class="tm-container" fxFlex="30%" fxFlex.xs="100%" [class.mat-elevation-z2]="!isActive"
        [class.mat-elevation-z8]="isActive">
        <app-colors></app-colors>
    </div>

    <div class="tm-container" fxFlex="100%" fxFlex.xs="100%" *ngIf="loading" [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive">
        <app-grid></app-grid>
    </div>
    
    <app-footer fxFlexOffset="auto"></app-footer> 
</div>


<div *ngIf="!loading">
    <app-loading></app-loading>
</div>

